body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 50 auto;
    font-family: 'Arial Black', Arial, sans-serif;
    overflow-x: hidden;
    max-width: 800px;
    text-align: center;
}
main ::content {
    text-align: center;
    position: relative;
}
h3 {
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #ff006e, #8338ec);
    border-radius: 6pc;
    padding: 10px 6px;
    font-size: 0.9em;
    display: inline-block;
}
.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.footer p {
    color: #ffffff;
    font-size: 0.6em;
    background: linear-gradient(45deg, #ff006e, #8338ec);
    padding: 5px 8px;
    border-radius: 3pc;
    display: inline-block;
    font-weight: bold;
    border: 2px solid #ffffffc7;
    margin: 0;
}
.text {
    position: relative;
    padding: 20px 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text .content-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text p {
    color: #000000;
    font-size: 0.8em;
    padding: 10px 15px;
    border: 2px solid #ff00ff;
    background: #ffffffd1;
    border-radius: 4px;
}
.text iframe {
    border: 2px solid #ffffff00;
    border-radius: 4px;
    margin-top: 10px;
}
.text img {
    width: 400px;
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 4px;
}
.text2 {
    position: relative;
    padding: 20px 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text2 .content-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text2 p {
    color: #ffffff;
    font-size: 0.8em;
    padding: 10px 15px;
    border: 2px solid #ffffff;
    background: #ffffffd1;
    border-radius: 4px;
}
.text2 img {
    width: 400px;
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-top: 50px;
}
.text2 {
    position: relative;
    padding: 20px 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text2 .content-wrapper {
    display: flex;
    
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text2 {
    position: relative;
    padding: 20px 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text2 .content-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text2 p {
    color: #000000;
    font-size: 0.8em;
    padding: 10px 15px;
    border: 2px solid #f700ff;
    background: #ffffffd1;
    border-radius: 4px;
}
.text2 img {
    width: 400px;
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 4px;
    margin-top: 50px;
}
.text3 {
    position: relative;
    padding: 20px 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text3 .content-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text3 p {
    color: #000000;
    font-size: 0.8em;
    padding: 10px 15px;
    border: 2px solid #f700ff;
    background: #ffffffd1;
    border-radius: 4px;
}
.text3 img {
    width: 400px;
    height: auto;
    border: 2px solid #ffffff;
}
